:root {
    --white: #F7FAFC;
    --absolute-white: #FFFFFF;
    --dark: #2D3748;
    --blue-light: #C3DAFE;
    --red-light: #F56565;
}

html {
    color: var(--dark);
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    background-color: var(--white);
    background-image: url(/public/paw.svg);
    background-repeat: repeat;
}

h1 {
    font-size: 2rem;
    margin: .67rem 0;
}

h2 {
    font-size: 1.5rem;
    margin: .75rem 0;
}

h3 {
    font-size: 1.17rem;
    margin: .83rem 0;
}

h5 {
    font-size: .83rem;
    margin: 1.5rem 0;
}

h6 {
    font-size: .75rem;
    margin: 1.67rem 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: bolder;
}


button {
    border: none;
    background: none;
    outline: 0;
    cursor: pointer;
    background: var(--blue-light);
    padding-top: 1rem;
    font-size: 1.2rem;
    padding-bottom: 1rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-radius: 5px;
    font-weight: bolder;
    box-shadow: 5px 8px 8px lightgray;
    transition: box-shadow .2s;
}

button:active {
    box-shadow: 0px 0px 0px lightgray;
}


.container {
    max-width: 90%;
    margin: 0 auto;
}

.container-900 {
    max-width: 900px;
    margin: 0 auto;
}

nav {
    background-color: var(--absolute-white);
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: var(--dark);
}

.bolder {
    font-weight: bolder;
}

.mr-1 {
    margin-right: 1rem;
}

.mt-1 {
    margin-top: 1rem;
}

.responsive-image {
    height: 100%;
    width: 100%;
}

.cta {
    display: grid;
    margin-top: 5rem;
    align-items: center;
    grid-template-columns: 1fr 1fr;
}

.text-big {
    font-size: 4rem;
}

.bg-red {
    background-color: var(--red-light);
}

.text-white {
    color: var(--absolute-white);
}


.title-red-underline {
    display: flex;
    justify-content: center;
    margin-bottom: 4rem;
}

/* Make this responsive for text */

.line {
    background-color: var(--red-light);
    height: 10px;
    max-width: 10rem;
    margin-top: 8px;
    margin-left: 4rem;
    border-radius: 12px;
}

.line-2 {
    background-color: var(--red-light);
    height: 10px;
    max-width: 8rem;
    margin-left: 1.5rem;
    margin-top: 8px;
    border-radius: 12px;
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.border {
    border: 1px solid var(--blue-light);
}

.services {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--absolute-white);
    padding: 2rem;
    border: 1px solid var(--blue-light);
    border-radius: 5px;
}

.service-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.mt-5 {
    margin-top: 5rem;
}

.mt-2 {
    margin-top: 2rem;
}

.w-6 {
    width: 1rem;
}

.h-6 {
    height: 1rem;
}


footer {
    color: var(--absolute-white);
    background-color: var(--dark);
    padding: 2rem;
}

.flex {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.mb-5 {
    margin-bottom: 5rem;
}

.mt-5 {
    margin-top: 5rem;
}

.reset-box-shadow {
    box-shadow: none;
}

.flex-center {
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.right {
    float: right;
}

.contact {
    width: 620px;
    margin: 0 auto;
}

.about-us {
    display: block;
    position: relative;
    max-width: 900px;
    margin: 0 auto;
}

.team {
    height: 100%;
    max-width: 600px;
}

@media only screen and (max-width: 640px) {
    .team {
        width: 100%;
    }
}

.about-us-contact {
    margin-top: 2rem;
    max-width: 400px;
    position: absolute;
    bottom: -100px;
    right: 3rem;
    height: fit-content;
}


@media only screen and (max-width: 580px) {
    .about-us-contact {
        position: relative;
        bottom: unset;
        right: unset;
        max-width: 600px;
    }
}

.pos-static {
    position: static;
}

.about-us-h2 {
    margin-bottom: 1rem;
}

.p-8 {
    padding-bottom: 8rem;
}